<ion-view>
    <ion-nav-title style="position: relative;top:25%;margin-left:5px;">
      <img style="float:left;width:8%;padding-top:8px;" ng-src="img/logo.png">
      SalBr
    </ion-nav-title>
            <form ng-submit="SalBr.search(search)" novalidate="" name="forms.search" id="searchForm">
                <ion-pane>
                    <ion-header-bar class="bar-stable">
                      <h1 class="title">Ionic modal select example</h1>
                    </ion-header-bar>
                    <ion-content>
                      <div class="item item-divider"></div>
                      
                        <div class="item item-text-wrap">
                        List of numbers.
                      </div>
                        
                      <div class="item item-body">
                        <button class="button button-positive" modal-select="" ng-model="someModel" options="selectables" modal-title="Select a number">
                            Select it
                            <div class="option">
                              {{option}}
                            </div>
                         </button>

                        <button class="button button-positive" modal-select="" ng-model="someModel" options="selectables" modal-title="Select a number" has-search="true">
                            Select it (with search)
                            <div class="option">
                              {{option}}
                            </div>
                          </button>
                      </div>
                        
                      <div class="item">
                        someModel: {{someModel}}
                      </div>
                    </ion-content>
                </ion-pane>        
            </form>
</ion-view>
