<ion-view>
    <ion-nav-title style="position: relative;top:25%;margin-left:5px;">
      <img style="float:left;width:8%;padding-top:8px;" ng-src="img/logo.png">
      SalBr
    </ion-nav-title>

    <ion-content class="padding">
        
        <h3 class="text-center">¿Qué estás buscando?</h3>
        <form ng-submit="SalBr.search(search)" novalidate="" name="forms.search" id="searchForm">
            <div class="list">
                <div padding-top></div>
                <p ion-text text-center>Register With Your Phone Number</p>
                <ion-item>
                    <ion-icon item-start name="phone-portrait"></ion-icon>
                    <ion-select item-left [(ngModel)]="account.code" name="countrycode">
                      <ion-option value="a">AAAAAA</ion-option>
                      <ion-option value="b">BBBBBB</ion-option>
                      <ion-option value="c">CCCCCC</ion-option>
                    </ion-select>
                </ion-item>

                <div padding>
                    <button ion-button color="primary" block>Send Confirmation Code</button>
                </div>

                <p ion-text text-center color="dark">We will send a one time SMS message to verify your phone number.</p>

            </form>
        </ion-content>
</ion-view>
