<?xml version='1.0' encoding='utf-8'?>
<widget id="com.salbr.salbr" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>SalBr</name>
    <description>
        La solución ideal para el servicio ideal
    </description>
    <author email="michel.tobon@outlook.com" href="http://www.micheltobon.com/">
      Michel Tobon
  </author>

</widget>
