<?xml version='1.0' encoding='utf-8'?>
<widget id="com.salbr.salbr" version="0.0.1" 
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap="http://phonegap.com/ns/1.0">
        xmlns:android="http://schemas.android.com/apk/res/android"  
    
        <name>SalBr</name>
    <description>
        La solución ideal para el servicio idealizado
    </description>
    <author email="michel.tobon@outlook.com" href="http://www.micheltobon.com/">
      Michel Tobon
  </author>
     <preference name="phonegap-version" value="cli-8.0.0" />
    <preference name="android-build-tool" value="gradle" />
    <preference name="android-minSdkVersion" value="16" />
    <preference name="android-targetSdkVersion" value="16" />
    
  <gap:plugin name="cordova-plugin-facebook4" source="npm" spec="1.7.4">
        <param name="APP_ID" value="147999889300513" />
        <param name="APP_NAME" value="Salbr" />
  </gap:plugin>

</widget>
