<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.salbr.salbr" 
version="0.0.1" 
xmlns="http://www.w3.org/ns/widgets"
xmlns:gap   = "http://phonegap.com/ns/1.0"
xmlns:android="http://schemas.android.com/apk/res/android">
  <name>SalBr</name>
  <description>
        La solución ideal para el servicio ideal
    </description>
  <author email="michel.tobon@outlook.com" href="http://www.micheltobon.com/">
      Michel Tobon
  </author>
	
	
  <content src="index.html"/>
  
  <icon src="img/icon.png" />
  
  <preference name="phonegap-version" value="cli-6.5.0" />
  
  <preference name="android-build-tool" value="gradle" /> 
  <preference name="android-minSdkVersion" value="16" />
  <preference name="android-targetSdkVersion" value="16"/>
  
  <gap:platform name="ios" />
  <gap:platform name="android" />
  
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="SplashScreenDelay" value="2000"/>
  <preference name="FadeSplashScreenDuration" value="2000"/>
  <preference name="orientation" value="portrait" />
  
  
  <preference name="BackupWebStorage" value="none"/>
  
  <!-- ICONS -->
    
    <!-- iPhone 6 / 6+ -->
    <icon src="img/icon/ios/180.png" platform="ios" width="180" height="180" />

    <!-- iPhone / iPod Touch  -->
    <icon src="img/icon/ios/60.png" platform="ios" width="60" height="60" />
    <icon src="img/icon/ios/120.png" platform="ios" width="120" height="120" />

    <!-- iPad -->
    <icon src="img/icon/ios/76.png" platform="ios" width="76" height="76" />
    <icon src="img/icon/ios/152.png" platform="ios" width="152" height="152" />

    <!-- Settings Icon -->
    <icon src="img/icon/ios/29.png" platform="ios" width="29" height="29" />
    <icon src="img/icon/ios/58.png" platform="ios" width="58" height="58" />
    <icon src="img/icon/ios/87.png" platform="ios" width="87" height="87" />

    <!-- Spotlight Icon -->
    <icon src="img/icon/ios/40.png" platform="ios" width="40" height="40" />
    <icon src="img/icon/ios/80.png" platform="ios" width="80" height="80" />
    <icon src="img/icon/ios/120.png" platform="ios" width="120" height="120" />
    
    
    <!-- ANDROID -->
    
    <icon src="img/icon/android/ldpi.png" platform="android" qualifier="ldpi" />
    <icon src="img/icon/android/mdpi.png" platform="android" qualifier="mdpi" />
    <icon src="img/icon/android/hdpi.png" platform="android" qualifier="hdpi" />
    <icon src="img/icon/android/xhdpi.png" platform="android" qualifier="xhdpi" />
    <icon src="img/icon/android/xxhdpi.png" platform="android" qualifier="xxhdpi" />
    <icon src="img/icon/android/xxxhdpi.png" platform="android" qualifier="xxxhdpi" />
	
	<!-- SPLASH -->
	<!-- BASE SPLASH -->
	<splash src="img/splash/android/xxxhdpi.png" />
  
   <!-- iPhone and iPod touch -->
    <splash src="img/splash/ios/320X480.png" platform="ios" width="320" height="480" />
    <splash src="img/splash/ios/640X960.png" platform="ios" width="640" height="960" />

    <!-- iPhone 6 -->
    <splash src="img/splash/ios/750X1334.png" platform="ios" width="750" height="1334" />
    <splash src="img/splash/ios/768X1024.png" platform="ios" width="768" height="1024" />
    <splash src="img/splash/ios/1280X1920.png" platform="ios" width="1280" height="1920" />
    
    <!-- Android -->
    <splash src="img/splash/android/ldpi.png" platform="android" qualifier="port-ldpi" density="port-ldpi"/>
    <splash src="img/splash/android/mdpi.png" platform="android" qualifier="port-mdpi" density="port-mdpi"/>
    <splash src="img/splash/android/hdpi.png" platform="android" qualifier="port-hdpi" density="port-hdpi"/>
    <splash src="img/splash/android/xhdpi.png" platform="android" qualifier="port-xhdpi" density="port-xhdpi"/>
    <splash src="img/splash/android/xxhdpi.png" platform="android" qualifier="port-xxhdpi" density="port-xxhdpi"/>
    <splash src="img/splash/android/xxxhdpi.png" platform="android" qualifier="port-xxxhdpi" density="port-xxxhdpi"/>
  
  <!-- PLUGINS -->
    <gap:plugin name="cordova-plugin-whitelist" source="npm"/>
    <access origin="*" />
    <allow-intent href="*" />
    <allow-navigation href="*" />
	
	<gap:plugin name="cordova-plugin-facebook4" source="npm">
        <param name="APP_ID" value="147999889300513" />
        <param name="APP_NAME" value="Salbr" />
    </gap:plugin>
	
	<gap:plugin name="cordova-plugin-x-toast" source="npm" />
    
    <!-- SPLASH SCREEN -->
	<gap:plugin name="cordova-plugin-splashscreen" source="npm"/>
    <preference name="SplashScreen" value="screen"/>
    <preference name="SplashShowOnlyFirstTime" value="false" />
    <preference name="SplashScreenDelay" value="7000" />
	
	<!-- STATUS BAR-->
	<gap:plugin name="cordova-plugin-statusbar" source="npm"/>
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarStyle" value="default" />
  
</widget>
