<ion-view>
    <ion-nav-title style="position: relative;top:20%;margin-left:5px;">
      <img style="float:left;width:8%;padding-top:8px;" ng-src="img/logo.png">
      SalBr - Mis datos
    </ion-nav-title>    
    <ion-content class="padding text-center">
        <div ng-if="order === null">
            <h2 class="text-center">
                <strong>Cargando órden</strong>
                <br>
                <ion-spinner icon="spiral" class="spiral-calm"></ion-spinner>
            </h2>
        </div>
        <div id="userdetails">
            <div class="row">
                <div class="col col-33">
                    <h5>Id:</h5>
                </div>
                <div class="col">
                    <h5>{{SalBr.getUser().screen_name}}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col col-33">
                    <h5>Nombre:</h5>
                </div>
                <div class="col">
                    <h5>{{SalBr.getUser().title}}</h5>
                </div>
            </div>
             <div class="row">
                <div class="col col-33">
                    <h5>Descripción:</h5>
                </div>
                <div class="col">
                    <h5>{{SalBr.getUser().description}}</h5>
                </div>
            </div>
             <div class="row">
                <div class="col col-33">
                    <h5>E-mail:</h5>
                </div>
                <div class="col">
                    <h5>{{SalBr.getUser().email}}</h5>
                </div>
            </div>                    
             <div class="row">
                <div class="col col-33">
                    <h5>Teléfono:</h5>
                </div>
                <div class="col">
                    <h5>{{SalBr.getUser().telephone}}</h5>
                </div>
            </div> 
             <div class="row">
                <div class="col col-33">
                    <h5>Dirección:</h5>
                </div>
                <div class="col col-60">
                    <h5>{{SalBr.getUser().address}}</h5>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1885.8543458021563!2d-98.20568617059936!3d19.032553999999998!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x46a189500add1fc2!2sThe+Queen+Pastes+Artesanales!5e0!3m2!1ses-419!2smx!4v1493267807216" frameborder="0" style="border:0" ></iframe> 
                </div>
            </div>
            <div class="row">
                <div class="col col-33">
                    <h5>Calificación como servidor:</h5>
                </div>            
                <div class="col starRankingSelector">
                    <div class="text-center ratingContainer">
                        <i class="icon ion-star" ng-repeat="star in [1, 2, 3, 4, 5]"
                            ng-class="getStarClass($index + 1, {{SalBr.getUser().rating}})"></i>
                    </div>
                </div>  
            </div>
            <div class="row">
                <div class="col col-33">
                    <h5>Código de Cliente:</h5>
                </div>
                <div class="col">
                    <strong>{{SalBr.getUser().user_key}}</strong>
                </div>
            </div>
        </div>
        
        
        <p>
            Con el Código de Cliente podrá dar de alta sus anuncios y así las notificaciones le llegarán directamente a usted en caso de que algún cliente necesite de sus servicios.
        </p>
        <p>
            También podrá utilizarlo para hacer válidas sus promociones en caso de calificar para ellas.
        </p>
        <p>
            Para mayor información, envianos un correo a:  <a class="text-bold valing-center" ng-href="mailto:ventas@salbr.mx">ventas@salbr.mx</a>
        </p>
    </ion-content>
</ion-view>
