<ion-view>
    <ion-nav-title style="position: relative;top:20%;margin-left:5px;">
      <img style="float:left;width:8%;padding-top:8px;" ng-src="img/logo.png">
      SalBr - Mis datos
    </ion-nav-title>    
    <ion-content>
        <div id="userdetails">
            <div class="row">
                <div class="col col-33">
                    <h5>Id:</h5>
                </div>
                <div class="col">
                    <h5>{{SalBr.getUser().screen_name}}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col col-33">
                    <h5>Nombre:</h5>
                </div>
                <div class="col">
                    <h5>{{SalBr.getUser().title}}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col col-33">
                    <h5>Descripción:</h5>
                </div>
                <div class="col">
                    <h5>{{SalBr.getUser().description}}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col col-33">
                    <h5>E-mail:</h5>
                </div>
                <div class="col">
                    <h5>{{SalBr.getUser().email}}</h5>
                </div>
            </div>                    
            <div class="row">
                <div class="col col-33">
                    <h5>Teléfono:</h5>
                </div>
                <div class="col">
                    <h5>{{SalBr.getUser().telephone}}</h5>
                </div>
            </div> 
            <div class="row"> 
                <div class="col col-33">
                    <h5>Dirección:</h5>    
                </div>
                <div class="col col-67">
                    <a class="text-bold valing-center" ng-href={{SalBr.getUser().address}}>Esta es mi dirección.</a>
                </div>
            </div>
            <div class="row">
                <div class="col col-33">
                    <h5>Calificación como proveedor:</h5>
                </div>            
                <div class="col starRankingSelector">
                    <div class="text-center ratingContainer">
                        <i class="icon ion-star" ng-repeat="star in [1, 2, 3, 4, 5]"
                            ng-class="getStarClass($index + 1, {{SalBr.getUser().rating_pro}})"></i>
                    </div>
                </div>  
            </div>
            <div class="row">
                <div class="col col-33">
                    <h5>Calificación como cliente:</h5>
                </div>            
                <div class="col starRankingSelector">
                    <div class="text-center ratingContainer">
                        <i class="icon ion-star" ng-repeat="star in [1, 2, 3, 4, 5]"
                            ng-class="getStarClass($index + 1, {{SalBr.getUser().rating_cnt}})"></i>
                    </div>
                </div>  
            </div>
            <div class="row">
                <div class="col col-33">
                    <h5>Código de Cliente:</h5>
                </div>
                <div class="col text-center">
                    <h5> <strong>{{SalBr.getUser().user_key}}</strong><h5>
                </div>
            </div>
        </div>
        
        
        <p>
            Con el Código de Cliente podrá dar de alta sus anuncios y así las notificaciones le llegarán directamente a usted en caso de que algún cliente necesite de sus servicios.
        </p>
        <p>
            También podrá utilizarlo para hacer válidas sus promociones en caso de calificar para ellas.
        </p>
        <p>
            Para mayor información, envianos un correo a:  
        </p>
        <div class="row">
            <div class="col text-center">
                <a class="text-bold" ng-href="mailto:ventas@salbr.mx">ventas@salbr.mx</a>
            </div>
        </div>
    </ion-content>
</ion-view>
