<ion-view view-title="Mis Código">
    <ion-content class="padding text-center">
        <p>
            Éste es su código de cliente:
        </p>
        <h1>
            {{SalBr.getUser().user_key}}
        </h1>
        <p>
            Con éste código podrá dar de alta sus anuncios y así las notificaciones le llegarán directamente a usted en caso de que algún cliente necesite de sus servicios.
        </p>
        <p>
            También podrá utilizarlo para hacer válidas sus promociones en caso de calificar para ellas.
        </p>
    </ion-content>
</ion-view>
