<ion-view view-title="Mis Órdenes">
    <ion-content class="padding">
        <ion-list ng-if="SalBr.getMyOrders().total_lines">
            <ion-item class="item-remove-animate item-icon-right" 
                      type="item-text-wrap" 
                      href="#/tab/account/order/{{order.id_order}}"
                      collection-repeat="order in SalBr.getMyOrders().data">
                        <p>
                            <h4>Categoria: {{order.category}}</h4>
                            <h4>{{order.data.publication}}</h5>
                        </p> 
                        <p>
                            <h4>Fecha: {{order.creation_timestamp}}</h4>
                        </p>
                        <p>
                            <h5 class="text-bold"><i ng-class="SalBr.getOrderStatusClass(order.status)"></i> {{SalBr.getOrderStatus(order.status)}}</h5>
                            <h5 class="text-bold" ng-if="order.qualification">Calificaste con: {{order.qualification}} estrellas</h5>
                        </p>

                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>
        <h3 class="text-center" ng-if="!SalBr.getMyOrders().total_lines">No tiene órdenes por el momento</h3>
    </ion-content>
</ion-view>
