<ion-view view-title="Órdenes Entrantes">
    <ion-content class="padding">
        <ion-list  ng-if="SalBr.getMyIncomingOrders().total_lines">
            <ion-item class="item-remove-animate item-icon-right" 
                      type="item-text-wrap"
                      href="#/tab/account/incoming_order/{{order.id_order}}"
                      collection-repeat="order in SalBr.getMyIncomingOrders().data">
                <p>
                    <strong>{{order.user}}</strong>
                </p>
                <p>
                    <small>{{order.creation_timestamp}}</small>
                </p>
                    <h4 class="text-bold"><i ng-class="SalBr.getOrderStatusClass(order.status)"></i> {{SalBr.getOrderStatus(order.status)}}</h4>                 
                    <h4 class="text-bold" ng-if="order.data.id_publication_qualification"><i class="icon ion-star active"></i> Calificada!</h5>

                    <h4 class="text-bold">{{order.data.qualification}} <i class="icon ion-star active"></i> 's.</h4>
                    <h4>Stars:</i>{{order.data.id_publication_qualification}}</h4>                    
                    <h4>Stars:</i>{{order.qualification}}</h4>
                    <h4>Stars:</i>{{order.data.qualification}}</h4>
                <!-- <h5>Estatus:</i>{{order.status}}</h5> -->
            
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>
        <h3 class="text-center" ng-if="!SalBr.getMyIncomingOrders().total_lines">No tiene órdenes entrantes por el momento</h3>
    </ion-content>
</ion-view>
