<ion-view view-title="Mis Órdenes">
    <ion-content class="no-padding">
        <ion-list ng-if="SalBr.getMyOrders().total_lines">
            <ion-item class="item-remove-animate item-icon-right" 
                      type="item-text-wrap" 
                      href="#/tab/account/order/{{order.id_order}}"
                      collection-repeat="order in SalBr.getMyOrders().data">
                        <div id="myOrders">
                            <div class=".row-no-padding">
                                <div class="col col-33">
                                    <h3 class="text-bold">Categoría:</h3>
                                </div>
                                <div class="col">
                                    <p>{{order.category}}</p>
                                </div>
                            </div>
                            <div class=".row-no-padding">
                                <div class="col col-33">
                                    <h3 class="text-bold">Fecha:</h3>
                                </div>
                                <div class="col">
                                    <p>{{order.creation_timestamp}}</p>
                                </div>
                            </div>  
                            <div class=".row-no-padding">
                                <div class="col col-33">
                                    <h4 class="text-bold"><i ng-class="SalBr.getOrderStatusClass(order.status)"></i> {{SalBr.getOrderStatus(order.status)}}</h4>
                                </div>
                                <div class="col">
                                    <h4 class="text-bold" ng-if="order.qualification">Calificaste con: {{order.qualification}} estrellas</h4>
                                </div>
                            </div>                             
                        </div>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>
        <h3 class="text-center" ng-if="!SalBr.getMyOrders().total_lines">No tiene órdenes por el momento</h3>
    </ion-content>
</ion-view>
