<ion-view>
    <ion-nav-title style="position: relative;top:20%;margin-left:5px;">
      <img style="float:left;width:8%;padding-top:8px;" ng-src="img/logo.png">
      SalBr - Mis puntos acumulados
    </ion-nav-title>
    <ion-content class="padding">
        <ion-list>
            <ion-item class="item-text-wrap" 
                      type="item-text-wrap">		
                        <div id="getMyServiceId">
                            <div class="row">
                                <div class="col">
                                    <h3 class="text-bold">Categoría:</h3>

                                    <p>{{service.id_service}}</p>
                                    <p>{{service.name}}</p>
                                    <p>{{service.key1}}</p>
                                    <p>{{service.key2}}</p>
                                    <p>Your GCM ID :</p>
                                    <p id="gcm_id"></p>
                                    <p>{{service}}</p>
                                    <p>{{mygcm.user_key}}</p>    
                                        
                                </div>
                            </div>                            
                        </div>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>
        <h3 class="text-center" ng-if="!SalBr.getMyServiceId().total_lines">No tiene órdenes por el momento</h3>
    </ion-content>
</ion-view>
