<ion-view view-title="Mis Datos">
    <ion-content class="padding">
        <h1 class="text-center">EN DESARROLLO</h1>
        <ion-list>
                
                <h1>Push Notification Example</h1>
                Your GCM ID : <br/>
                <p id="gcm_id"></p>
                a: {{gcm_id}}
                b: {{order}}
                c: {{data}}
                d: {{SalBr}}
                e: {{response}}
                f: {{SENDER_ID}}
                g: {{response.keydata}}
                h: {{keydata}}
                i: {{apiKey}}                
        </ion-list>
    </ion-content>
</ion-view>
