<ion-view view-title="Mis Órdenes">
    <ion-content class="padding">
        <ion-list ng-if="SalBr.getMyServiceId().total_lines">
            <ion-item class="item-remove-animate item-icon-right" 
                      type="item-text-wrap" 
                      collection-repeat="service in SalBr.getMyServiceId().data">
                        <div id="getMyServiceId">
                            <div class="row">
                                <div class="col">
                                    <h3 class="text-bold">Categoría:</h3>

                                    <p>{{service.id_service}}</p>
                                    <p>{{service.name}}</p>
                                    <p>{{service.key1}}</p>
                                    <p>{{service.key2}}</p>
                                    <h5 class="text-bold"><i ng-class="SalBr.getMyGcm(service.key1)"></i>
                                    <h5 class="text-bold"><i ng-class="SalBr.pushMyGcm(service.key1)"></i>    
                                    <p>Your GCM ID :</p>
                                    <p id="gcm_id"></p>
                                    <p>{{service}}</p>

                                </div>
                            </div>                            
                        </div>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>
        <h3 class="text-center" ng-if="!SalBr.getMyServiceId().total_lines">No tiene órdenes por el momento</h3>
    </ion-content>
</ion-view>
