/* Empty. Add your own CSS if you like */
.text-justify{text-align: justify !important;}
ion-item p.text-center{text-align: center !important; }
ion-item p.text-center > i {display: inline-block !important;font-size: 1.7em !important;position: relative !important;width: 22px;}
p.ratingContainer i{font-size:1.7em; margin-right: 5px;}
ion-item p.text-center > i.active, p.ratingContainer i.active, .starRankingSelector i.ion-star.active, i.ion-star.active{color: goldenrod;}
ion-item p.text-center > i.inactive, p.ratingContainer i.inactive{color: lightgray;}
.layer {background-color: lightgray;height: 400px;padding: 10px;position: relative;text-align: center;}
.layer > img {max-height: 100%;max-width: 100%;}
textarea{min-height: 100px; resize: vertical;}
.profile-img-container img{
    min-height: 100px;
    min-width: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    margin: 10px 0;
}
.spinner svg {
    width: 50px;
    height: 50px;
    stroke: #444;
    fill: #444;
}
.text-bold{
    font-weight: bold;
}

button.button.back-button.header-item span.back-text{display: none;}

.starRankingSelector i.ion-star{
    font-size: 3em;
    color: lightgray;
}
/*.row {
  border:1px solid;
} */

.valing-center {
  position: relative;
  top: 25%;
  transform: perspective(1px) translateY(-50%);
}
.transparent{
  background:rgba(255,255,255,0.5);
 }
.input-menu {
  color: #444;
  background: #E9F;
  font-size: 16px; 
}
.item .item-content.activated.item-dark {
    border-color: #000;
    background-color: #ff0000 !important; }
.item.active.item-dark.item-complex > .item-content,
.item.activated.item-dark.item-complex > .item-content,
.item-complex.active .item-content.item-dark.item-complex > .item-content,
.item-complex.activated .item-content.item-dark.item-complex > .item-content,
.item .item-content.active.item-dark.item-complex > .item-content,
.item .item-content.activated.item-dark.item-complex > .item-content {
      border-color: #000;
      background-color: #fff200 !important; }
.item-complex.item-dark > .item-content.active, .item-complex.item-dark > .item-content:active {
    border-color: #000;
    background-color: #00ff19 !important; }
.item-complex.item-dark > .item-content.active.item-complex > .item-content, .item-complex.item-dark > .item-content:active.item-complex > .item-content {
      border-color: #000;
      background-color: #00d0ff !important; }
